@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {height: 100%;}

@font-face {
  font-family: 'Brigends';
  src: url('./Fonts/brigendsexpanded.otf') format('opentype');
}
@font-face {
  font-family: 'Hanson';
  src: url('/Fonts/Hanson-Bold.ttf') format('truetype');}
@font-face {
  font-family: 'Abuget';
  src: url('./Fonts/Abuget.ttf') format('truetype'); }

body{background-color: #07070d;}

.infinite-one{
  animation: text-move 50s linear infinite;
}
@keyframes text-move{
  0%{
    transform: translateX(0%);
  }100%{
    transform: translateX(-50%);
  }
}

.infinite-two{
  animation: text-move2 50s linear infinite;
}
@keyframes text-move2{
  0%{
    transform: translateX(-50%);
  }100%{
    transform: translateX(0%);
  }
}

.about-img img{
  animation: img-rotate linear 10s infinite ;
}
@keyframes tri-rotate {
  0%{
    rotate: 0deg;
  }100%{
    rotate: -360deg;
  }
}

.rotate-img img{
  animation: img-rotate linear 10s infinite ;
}

@keyframes img-rotate {
  0%{
    rotate: 0deg;
  }100%{
    rotate: 360deg;
  }
}

